.login {
  margin: 10em auto;
  text-align: center;
}

body {
  padding: 75px;
}

.pin {
  border: 2px solid black;
  margin-top: 20px;
  .pin-image {
    height: 300px;
    overflow: hidden;
  }
  h3 {
    text-align: center;
  }
  p {
    margin-left: 5px;
  }
  img {
    width: 100%;
  }
}

.initial-view {
  margin-bottom: 27px;
} 

.tack {
  margin-top: 5px;
  margin-left: 5px;
}

button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    color: white;
    width: 200px;
}

button#github{
    border-color: #007aa6;
    background-color: #444444;
    color: white;
    width: 200px;
}

#login {
  text-align: center;
}

