.login {
  margin: 10em auto;
  text-align: center;
}

.pin {
  border: 2px solid black;
  margin-top: 20px;
  .pin-image {
    height: 300px;
    overflow: hidden;
  }
  .description {
    height: 4.5em;
    overflow: scroll;
  }
  h3 {
    text-align: center;
  }
  p {
    margin-left: 5px;
  }
  img {
    width: 100%;
  }
}

.boardpics {
  height: 300px;
  .boardpic {
    width: 50%;
    display: inline-block;
    overflow: hidden;
  }
}

.initial-view {
  margin-bottom: 27px;
} 

.tack {
  margin-top: 5px;
  margin-left: 5px;
}


