.login {
  margin: 10em auto;
  text-align: center;
}

.pin {
  border: 2px solid black;
}

div.initial-view {
  margin-bottom: 27px;
}

div.pin > h3 {
  text-align: center;
}

div.pin > p {
  margin-left: 5px;
}

.tack {
  margin-top: 5px;
  margin-left: 5px;
  display: none;
}

