<!-- Board Chooser Modal -->
<div class="modal fade" id="boardChooser" tabindex="-1" role="dialog" aria-labelledby="boardChooserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="boardChooserLabel">Boards</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="board in boards | filter:{'type': 'board', 'userId': uid}"><a href="" ng-click="setBoard(board.$id)">{{board.title}}</a></li>
        </ul>
        <div>
          <p>Board Title<input label="Board Title" type="text" ng-model="newBoard.title"></p>
          <p>Board Desription<input label="Board Description" type="text" ng-model="newBoard.description"></p>
          <button type="button" ng-click="addBoard()" class="btn btn-primary" data-dismiss="modal">New Board</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="addPic()" class="btn btn-primary" data-dismiss="modal">Choose Board</button>
      </div>
    </div>
  </div>
</div>
<!-- End Board Chooser Modal -->

<section>
  <h2>PinIt</h2>
  <div>
    Title<input type="text" ng-model="newItem.title" /> 
  </div>
  <div>
    Link<input type="text" ng-model="newItem.url" /> 
  </div>
  <div>
    Description<input type="text" ng-model="newItem.description" /> 
  </div>
  <div>
    Private<input type="checkbox" ng-model="newItem.private" /> 
  </div>
  <button data-toggle="modal" data-target="#boardChooser">Add Pic</button>
</section>
