<!-- Board Chooser Modal -->
<div class="modal fade" id="boardChooser" tabindex="-1" role="dialog" aria-labelledby="boardChooserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content center modalStyle">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title" id="boardChooserLabel"><h2><strong>Add Picture to New or Existing Board</strong></h2></p>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li class="liStyle" ng-repeat="board in boards | filter:{'type': 'board', 'userId': uid}"><a href="" ng-click="setBoard(board.$id)"><h3>{{board.title}}</h3></a></li>
            <br>
          </ul>
            <button type="button" ng-click="addPic()" class="btn btn-primary" data-dismiss="modal">Choose Board</button>
          
        </div>
        <hr>
        <div>
          <p><h3>Board Title: <input label="Board Title" type="text" ng-model="newBoard.title"></h3></p>
          <p><h3>Board Note: <input label="Board Description" type="text" ng-model="newBoard.description"></h3></p>
          <button type="button" ng-click="addBoard()" class="btn btn-primary" data-dismiss="modal">New Board</button>
          <div>
            <h3>Private?<input type="checkbox" ng-model="newItem.private" /></h3>
          </div>  
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Board Chooser Modal -->

<section class="container-fluid" > 
  <div class="row initial-view">
    <div class="col-sm-4 col-md-3" ng-repeat="board in boards | filter: {'type': 'pin', 'private': false} | filter: $parent.search">
      <div class="pin">
        <button class="btn btn-warning btn-xs btn-hover tack invisible" data-toggle="modal" data-target="#boardChooser" ng-click="choosePic(board.$id)">PicIt!</button>
        <button class="btn btn-warning btn-xs btn-hover tack invisible" ng-click="deleteIt(board.$id)">Delete It!</button>
        <div class="titleHolder">
          <h3 class="titleColor">{{board.title}}</h3>
        </div>
        <div class="pin-image">
          <a href="" ng-click="gotoPin(board)"><img ng-src="{{board.url}}"></a>
        </div>
        <div class="description">
          <p>{{board.description}}</p>
        </div>
      </div>
    </div>        
  </div>
</section>