    <section class="container-fluid">  <!-- this will go in initial-view partial -->
      <div class="row initial-view">
        <div class="col-md-2">Empty spacer</div>
        <div class="col-md-2">
          <div class="pin">
            <h3>Title</h3>
            <a href=""><img src="" ></a>
            <p>Image will go in here</p>
            <p>Brief board description</p>
          </div>
        </div>        
        <div class="col-md-2">
          <div class="pin">
            <h3>Title</h3>
            <a href=""><img src="" ></a>
            <p>Image will go in here</p>
            <p>Brief board description</p>
          </div>
        </div>        
        <div class="col-md-2">
          <div class="pin">
            <h3>Title</h3>
            <a href=""><img src="" ></a>
            <p>Image will go in here</p>
            <p>Brief board description</p>
          </div>
        </div>        
        <div class="col-md-2">
          <div class="pin">
            <h3>Title</h3>
            <a href=""><img src="" ></a>
            <p>Image will go in here</p>
            <p>Brief board description</p>
          </div>
        </div>
        <div class="col-md-2">Empty spacer</div>
      </div>
    </section>