    <section class="container-fluid" > 
      <div class="row initial-view">
        <div class="col-sm-4 col-md-3" ng-repeat="board in boards | filter: {'type': 'pin', 'private': false}">
          <div class="pin">
            <button class="btn btn-warning btn-xs btn-hover tack invisible" >PicIt!</button>
            <button class="btn btn-warning btn-xs btn-hover tack invisible" ng-click="deleteIt(board.$id)">Delete It!</button>
            <h3>{{board.title}}</h3>
            <div class="pin-image">
              <a href="" ng-click="gotoPin(board)"><img src="{{board.url}}"></a>
            </div>
            <p>{{board.description}}</p>
          </div>
        </div>        
      </div>
    </section>