<section class="container-fluid">
  <div class="row">
    <div class="col-sm-9">
      <a id="#top"></a>
      <h1>{{pin.title}}</h1>
      <div class="pin-detail-image">
        <img src="{{pin.url}}">
      </div>
      <p>{{pin.description}}</p>
    </div>
    <div class="col-sm-3">
      <div class="pin" ng-repeat="board in boards | filter:{'type': 'board', 'title': boardId[0]}">
        <h3>{{board.title}}</h3>
        <div class="boardpics">
          <a href="" ng-click="openBoard(board)">
            <div class="boardpic" ng-repeat="pic in boards | filter:{'boardId': board.title} | limitTo: 4">
              <img ng-src="{{pic.url}}">
            </div>
          </a>
        </div>
        <p>{{board.description}}</p>
      </div>
    </div>
  </div>
</section>